<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <unicorn>
          <configurations>           
              <configuration name="Foundation.React" 
                             description="Serialization rules for Foundation.React"
                             extends="Helix"
                             dependencies="Foundation.Serialization"
                             patch:after="configuration[@name='Foundation.Serialization']">
                  <predicate>
                      <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                      <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
                      <include name="InsertRules" database="master" path="/sitecore/system/settings/Insert Rules/Foundation/React" />
                      <include name="BaseTheme" database="master" path="/sitecore/media library/Base Themes/ReactJS" />
                      <include name="IE Compatability" database="master" path="/sitecore/media library/Base Themes/IE Compatibility" />
                  </predicate>
              </configuration>
          </configurations>
      </unicorn>
  </sitecore>
</configuration>