<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="ScriptLocation.ReactJS" value="//fb.me/react-15.0.1.js"></setting>
			<setting name="ScriptLocation.ReactJSDom" value="//fb.me/react-dom-15.0.1.js"></setting>
		</settings>
    <pipelines>
      <mvc.getPageRendering>
        <processor
          patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
          type="Sitecore.Foundation.React.Pipelines.GetPageRendering.AddJsxFiles, Sitecore.Foundation.React">
          <defaultAssets hint="raw:AddAsset">
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
	</sitecore>
</configuration>